{% extends 'layouts/simple.njk' %}

{% block title %}
    Logged in Successfully
{% endblock %}

{% block head %}
    <meta http-equiv="refresh" content="2; url=$(link-redirect)">
{% endblock %}

{% block heading %}
    You are logged in!
{% endblock %}

{% block contentInner %}
    If nothing happens, click <a href="$(link-redirect)">here</a>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
      var popup = '$(popup)'
      function startClock () {
        if (popup) {
          open('$(link-status)', 'hotspot_status', 'toolbar=0,location=0,directories=0,status=0,menubars=0,resizable=1,width=290,height=200')
        } else {
          location.href = '$(link-redirect)'
        }
      }
      document.body.onload = startClock
    </script>
{% endblock %}