{% extends 'layouts/simple.njk' %}

{% block title %}
    Errors have occurred
{% endblock %}

{% block heading %}
    HotSpot ERROR!
{% endblock %}
{% block contentInner %}
    <p>$(error)</p>
    Please login <a href="$(link-login)">by clicking here</a>
{% endblock %}