{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.njk' %}

{% block content %}
  <ul>
    <li>
      <a href="login.html">login</a>
    </li>
    <li>
      <a href="alogin.html">alogin</a>
    </li>
  </ul>
{% endblock %}
