{% extends 'layouts/application.njk' %}
{% block title %}
    Login into GoE Hotspot
{% endblock %}
{% block head %}
    <script>
      //      $(if chap-id)
      var
        chapId = '$(chap-id)',
        chapChallenge = '$(chap-challenge)'
      //      $(endif)

    </script>
{% endblock %}
{% block content %}
    <div id="wrap" class="wrapper">
        <div class="wrapper-inner">
            <div class="row hide-for-large">
                <div class="column small-12 text-center welcome">
                    <img class="logo" src="images/logo.png" alt="GardenOfEden Logo">
                    <h3 class="shadow">Welcome to Garden of Eden</h3>
                </div>
            </div>
            <div class="row align-center">
                <div class="column small-12 medium-8 large-12">
                    <login link-login="$(link-login-only)" link-original="$(link-orig)" errors="$(error)"></login>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
