{% extends 'layouts/simple.njk' %}

{% block title %}
    Logout - GoE Hotspot
{% endblock %}
{% block contentInner %}
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>User name</td>
                        <td>$(username)</td>
                    </tr>
                    <tr>
                        <td>IP address</td>
                        <td>$(ip)</td>
                    </tr>
                    <tr>
                        <td>MAC address</td>
                        <td>$(mac)</td>
                    </tr>
                    <tr>
                        <td>Session time</td>
                        <td>$(uptime)</td>
                    </tr>
                    <tr>
                        <td>Time left</td>
                        <td>$(session-time-left)</td>
                    </tr>
                    <tr>
                        <td>Bytes up/down:</td>
                        <td>$(bytes-in-nice) / $(bytes-out-nice)</td>
                    </tr>
                </table>
                <br>
                <form action="$(link-login)" name="login" onSubmit="return openLogin()">
                    <button class="button">Log In</button>
                </form>
            </td>
    </table>

{% endblock %}

{% block heading %}
    Log Out
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
      function openLogin () {
        if (window.name !== 'hotspot_logout') return true
        open('$(link-login)', '_blank', '')
        window.close()
        return false
      }
    </script>
{% endblock %}