{% extends 'layouts/simple.njk' %}

{% block title %}
    Advertisement - GoE Hotspot
{% endblock %}

{% block heading %}
    Advertisement.
{% endblock %}

{% block contentInner %}
    If nothing happens, open  <a href="$(link-redirect)" target="hotspot_advert">advertisement</a> manually.
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
      var popup = ''
      function openOrig () {
        if (window.focus) popup.focus()
        location.href = '$(link-orig)'
      }
      function openAd () {
        location.href = '$(link-redirect)'
      }
      function onLoad () {
        if (window.name !== 'hotspot_advert') {
          popup = open('$(link-redirect)', 'hotspot_advert', '')
          setTimeout('openOrig()', 1000)
          return
        }
        setTimeout('openAd()', 1000)
      }
      document.body.onload = onLoad
    </script>
{% endblock %}