{% extends 'layouts/simple.njk' %}

{% block heading %}
    $(if login-by == 'trial')
    Welcome trial user!
    $(elif login-by != 'mac')
    Welcome $(username)!
    $(endif)
{% endblock %}

{% block contentInner %}
    <form action="$(link-logout)" name="logout" onSubmit="return openLogout()">
        <table>
            <tr>
                <td align="right">IP address:</td>
                <td>$(ip)</td>
            </tr>
            <tr>
                <td align="right">bytes up/down:</td>
                <td>$(bytes-in-nice) / $(bytes-out-nice)</td>
            </tr>
            <tr>
                <td align="right">connected / left:</td>
                <td>$(uptime) / $(session-time-left)</td>
            </tr>
            <tr>
                <td align="right">connected:</td>
                <td>$(uptime)</td>
            </tr>
            $(if blocked == 'yes')
            <tr>
                <td align="right">status:</td>
                <td>
                    <div style="color: #FF8080">
                        <a href="$(link-advert)" target="hotspot_advert">advertisement</a> required
                    </div>
                </td>
                $(elif refresh-timeout)
            <tr>
                <td align="right">status refresh:</td>
                <td>$(refresh-timeout)</td>
                $(endif)
            </tr>
        </table>
        $(if login-by-mac != 'yes')
        <br>
        <button class="button">Log Off</button>
        $(endif)
    </form>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
      var advertPending = '$(advert-pending)'

      if (advertPending === 'yes') {
        var popup = ''

        function focusAdvert () {
          if (window.focus) popup.focus()
        }

        function openAdvert () {
          popup = open('$(link-advert)', 'hotspot_advert', '')
          setTimeout('focusAdvert()', 1000)
        }
      }
      function openLogout () {
        if (window.name != 'hotspot_status') return true
        open('$(link-logout)', 'hotspot_logout', 'toolbar=0,location=0,directories=0,status=0,menubars=0,resizable=1,width=280,height=250')
        window.close()
        return false
      }
      if (advertPending === 'yes') {
        document.body.onload = openAdvert
      }
    </script>
{% endblock %}