@import "variables";

@font-face {
  font-family: 'GardenOfEden';
  src:
    url('#{$icomoon-font-path}/GardenOfEden.ttf?tjdo6q') format('truetype'),
    url('#{$icomoon-font-path}/GardenOfEden.woff?tjdo6q') format('woff'),
    url('#{$icomoon-font-path}/GardenOfEden.svg?tjdo6q#GardenOfEden') format('svg');
  font-weight: normal;
  font-style: normal;
}

.goe {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GardenOfEden' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.goe-check {
  &:before {
    content: $goe-check;
  }
}
.goe-success {
  &:before {
    content: $goe-success;
  }
}
.goe-question {
  &:before {
    content: $goe-question;
  }
}
.goe-times {
  &:before {
    content: $goe-times;
  }
}
.goe-ex {
  &:before {
    content: $goe-ex;
  }
}
.goe-close {
  &:before {
    content: $goe-close;
  }
}

