body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg) center center no-repeat fixed;
    background-size: cover;
}

#html {
    margin: 0 auto;
}

#wrap {
    color: #fff;
    border: 1px solid white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background: #0c0c0c;
    opacity: 0.9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.logo {
    background: url(../img/logo_eden7.gif) no-repeat;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6%;
}

.login {
    font-family: "Trebuchet MS", Times, serif;
    font-weight: bold;
    font: 18px;
    color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    display: block;
}

.username {
    display: block;
    text-align: center;
    margin: 4% 0 5% 0;
}

.password {
    display: block;
    text-align: center;
    margin: 0 0 5% 0;
}

.log-button input {
    background: url(../img/login.png) no-repeat;
    width: 110px;
    height: 43px;
    margin-right: auto;
    border: 1px solid white;
    cursor: pointer;
    border: none;
    margin-left: 37%;
}

.username input {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 40%;
    height: 20px;
    font-size: 16px;
}

.password input {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 40%;
    height: 20px;
    margin-left: 1%;
    font-size: 14px;
}

.lang {
    font-size: 13px;
    margin-left: 70%;
    margin-top: 2%;
    width: 150px;
}

.text {
    font-size: 12px;
    margin-left: 20%;
    text-decoration: none;
    color: #fff;
}

.text a:link {
    font-size: 11px;
    text-decoration: none;
    color: #fff;
}

.text a:visited {
    font-size: 10px;
    color: #fff;

}

.text a:hover {
    color: #FFF;
    text-decoration: underline;

}

.text a:active {
    color: #FFF;
}

.status {
    font-size: 15px;
}

.info {
    font-size: 10px;
    margin: 0 auto;
}

/* Smartphones */
@media only screen and (max-width: 767px) {
    body {
        background: #c9c9c9 !important;
        width: 100%;
    }

    #wrap {
        color: #fff;
        border: 1px solid white;
        width: 100% !important;
        min-width: 320px;
        margin: 0 auto;
        margin-top: 1%;
        background: #0c0c0c;
        opacity: 1 !important;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .lang {
        font-size: 12px;
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .log-button {
        width: 110px;
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
    }

    .log-button input {
        background: url(../img/login.png) no-repeat;
        width: 110px;
        height: 43px;
        margin: 0 auto;
        border: 1px solid white;
        cursor: pointer;
        border: none;
    }

    .username input {
        width: 80%;
        height: 60px;
        font-size: 26px;
    }

    .password input {
        width: 80%;
        height: 60px;
        font-size: 26px;
    }

    input::-webkit-input-placeholder {
        font-size: 18px !important;
    }

    input:-moz-placeholder {
        font-size: 18px;
    }

    .label {
        font-size: 26px !important;
    }

    .logo {
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 320px) {
    .username input {
        font-size: 14px;
    }

    .password input {
        font-size: 14px;
    }
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .username input {
        font-size: 11px;
    }

    .password input {
        font-size: 11px;
    }
}