/*==================================================
	Fonts Styles
==================================================*/
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Bold.woff') format('woff'),
         url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
         url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Italic.eot');
    src: url('fonts/MyriadPro-Italic?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-Italic.woff') format('woff'),
         url('fonts/MyriadPro-Italic.ttf') format('truetype'),
         url('fonts/MyriadPro-Italic.svg#MyriadPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-BoldItalic.eot');
    src: url('fonts/MyriadPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-BoldItalic.woff') format('woff'),
         url('fonts/MyriadPro-BoldItalic.ttf') format('truetype'),
         url('fonts/MyriadPro-BoldItalic.svg#MyriadPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}*/
