.button {
  &.fab {
    overflow: hidden;
    width: $button-fab-size;
    height: $button-fab-size;
    border-radius: 50%;
    padding: $global-padding;
    margin: 0;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1.5rem;
    &.raised {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
    }
  }
  &-main {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
  }
}
