.card {
  &-header {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: $global-padding;
    transition: .3s ease-out .3s;
    background-image: url('../images/welcome_mobile.png');
    min-height:120px;
    *:last-of-type {
      margin-bottom: 0;
    }
  }
  &--has-fab {
    .card-header {
      padding-bottom: $button-fab-size/2;
    }
    .card-section {
      padding-top: $button-fab-size/1.5;
    }
  }
  &--has-popup {
    overflow: hidden;
    position: relative;
  }
  &--unfold {
    .card-header, .card-section {
      filter: blur(2px) brightness(80%);
      transition: filter 0.15s linear;
    }
  }
  &-section {
    &.padded {
      padding-bottom: 2*$global-padding;
      padding-top: 2*$global-padding;
    }
  }
}

@media screen and #{breakpoint(landscape)} {
  .card {
    &-header {
      min-height: 250px;
    }
  }
}

@include breakpoint(large) {
  .card {
    &--has-fab {
      .card-header {
        padding-right: $button-fab-size/2;
      }
      .card-section {
        padding-left: ($button-fab-size/2) + 15px;
      }
    }
  }

}