#{text-inputs()} {
  &, &:focus {
    border-bottom: 2px solid $primary-color;
  }
}

.form-group {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $primary-color;
  margin-bottom: $global-margin;
  &.error {
    .form-el, .form-el::placeholder, .status {
      color: $alert-color;
    }
    .status {
      transform: rotateY(180deg)
    }
    border-bottom-color: $alert-color;
  }
  .form-el {
    margin-bottom: 0;
    border-bottom: none;
  }
  .status {
    transition: .3s;
    color: $primary-color;
    line-height: 1;
    padding: 0 $global-margin/2;
  }
}