.wrapper {
  padding: $global-padding 0;
  min-height: 100vh;
  background: url('../images/bg.jpg') center top/cover no-repeat;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  &-inner {
    width: 100%;
  }
}

.shadow {
  color: $white;
  text-shadow: 0 2px 0px transparentize($black, .5);
  font-weight: 500;
  //margin-bottom: $global-margin;
}

.logo {
  width: 55px;
}

@include breakpoint(medium) {
  .logo {
    width: 100px;
  }
}

@include breakpoint(large) {
  .logo {
    width: 163px;
  }
}