.legend {
  width: 100%;
  display: flex;
  background: $yellow-color;
  transition: transform .3s cubic-bezier(0.35, 0, 0.49, 0.09) 0s;
  &__item {
    padding: .8rem .5rem;
    text-align: center;
  }
  &__icon {
    width: #{64px/2};
  }
  &__label {
    color: $secondary-color;
    font-weight: bold;
  }
  &--hide {
    transform: translateY(100%);
  }
}