.main-content {
  margin-bottom: 0;
  min-height: 70vh;
  .card-header {
    flex: 1 1 50%;
    background-image: url('../images/welcome_mobile.png');
  }
  .card-section {
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
    padding-bottom: $global-padding*2;
    align-items: center;
    justify-content: center;
  }
  .floating-button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-form {
    width: 100%;
  }
}

@media screen and #{breakpoint(medium down)} and #{breakpoint(landscape)} {
  .card {
    &-section {
      min-height: 300px;
    }
  }
}

@include breakpoint(medium) {
  .main-content {
    min-height: 60vh;
    .card-header {
      background-image: url('../images/welcome_tablet.png');
    }
    .card-section {
      min-height: 300px;
    }
  }
}

@include breakpoint(large) {
  .main-content {
    min-height: 70vh;
    flex-flow: row;
    .card-section {
      flex: 1 1 50%;
    }
    .card-header {
      background-image: url('../images/welcome.jpg');
    }
    .floating-button {
      left: 0;
      top: 50%;
    }
  }
}