.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: $white;
  transform: translateX(100%);
  transition: 0.3s $transitionEffect;
  display: flex;
  flex-flow: column;
  &__heading-image {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    background: url("../images/map/map_tablet.jpg") center top/100% auto no-repeat #f2f5d8;
    height: 30%;
    min-height: 200px;
  }
  &__text {
    color: $primary-color;
    overflow-y: auto;
    padding: $global-padding;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: $white;
    text-shadow: 0 0 4px transparentize($black, .1);
    font-size: 1.5rem;
    cursor: pointer;
    transition: .1s $transitionEffect;
    &:hover {
      text-shadow: none;
      color: $primary-color;
    }
  }
  .card--unfold & {
    transform: translate(0)
  }
}

@media screen and #{breakpoint(medium down)} and #{breakpoint(landscape)} {
  .popup {
    &__heading-image {
      min-height: 280px;
    }
    &__text {
      min-height: 250px;
    }
  }
}

@include breakpoint(medium) {
  .popup {
    &__heading-image {
      min-height: 280px;
      //background-image: url("../images/map/map_tablet.jpg");
    }
  }
}

@include breakpoint(large) {
  .popup {
    width: 90%;
    flex-flow: row;
    &__heading-image {
      background-image: url("../images/map/map_desktop.jpg");
      height: 100%;
      flex: 1 0 40%;
    }
    &__text {
      flex: 1 1 auto;
    }
  }
}