.text-upper {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.heading {
  font-weight: bold;
  color: $primary-color;
}

.m-b-0 {
  margin-bottom: 0;
}

@each $color, $value in $foundation-palette {
  .color-#{$color}{
    color: $value
  }
}