<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    {% include "shared/app-icons.njk" %}
    {% block head %}{% endblock %}
</head>
<body>
<div id="app">
    {% block content %}{% endblock %}
</div>
{% block javascript %}
    <script src="md5.js"></script>
    <script src="javascripts/app.js"></script>
{% endblock %}
</body>
</html>
