{% extends 'layouts/application.njk' %}

{% block content %}
    <div id="wrap" class="wrapper">
        <div class="wrapper-inner">
            <div class="row align-center">
                <div class="column small-12 medium-8 large-8">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="shadow">
                                {% block heading %}
                                {% endblock %}
                            </h2>
                        </div>
                        <div class="card-section text-center padded">
                            {% block contentInner %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}