<template>
    <div class="card main-content card--has-fab card--has-popup" :class="{'card--unfold': showPopup}">
        <div class="card-header" @click="showPopup = false">
            <div class="welcome show-for-large">
                <img class="logo" src="images/logo.png" alt="GardenOfEden Logo">
                <h3 class="shadow">Welcome to Garden of Eden</h3>
            </div>
            <h1 class="shadow">WiFi Portal</h1>
        </div>
        <div class="card-section">
            <div class="errors" v-if="errors">
                <div class="errors__content" v-html="errors"></div>
            </div>
            <form name="sendin" class="hide" method="post" :action="linkLogin">
                <input type="hidden" name="username"/>
                <input type="hidden" name="password"/>
                <input type="hidden" name="dst" :value="linkOriginal"/>
                <input type="hidden" name="popup" value="true"/>
            </form>
            <button class="fab button raised floating-button" @click="showPopup = !showPopup"><i
                    class="goe goe-question"></i>
            </button>
            <form name="login" class="login-form" onsubmit="return false" @submit="submitLogin" method="post"
                  :action="linkLogin">
                <div class="code">
                    <h2 class="heading text-center">
                        Let`s get you started...
                    </h2>
                    <div class="form-group" :class="{error: $v.$error}">
                        <input
                                class="form-el"
                                name="code"
                                id="code"
                                placeholder="Enter Your Code..."
                                type="text"
                                v-model="code"
                                @input="$v.$touch()"
                        />
                        <input type="hidden" name="password" v-model="password">
                        <span class="status">
                        <i class="goe" :class="{'goe-success': !$v.$error, 'goe-times': $v.$error}"></i>
                    </span>
                    </div>
                </div>
                <div class="log-button">
                    <button class="button expanded button-main m-b-0">Submit</button>
                </div>
                <input type="hidden" name="dst" :value="linkOriginal"/>
                <input type="hidden" name="popup" value="true"/>
            </form>
        </div>
        <div class="popup">
            <div class="popup__heading-image" @click="hideLegend = !hideLegend">
                <div class="legend" :class="{'legend--hide':hideLegend}">
                    <div class="column legend__item" v-for="item in legend">
                        <img :src="'images/pins/' + item.icon" class="legend__icon" alt="">
                        <div class="legend__label" v-html="item.name"></div>
                    </div>
                </div>
            </div>
            <div class="popup__text">
                <div class="text">
                    <h4 class="heading">
                        BG: <br>
                        Добре дошли в hot-spot системата на комплекс "Райска Градина"!
                    </h4>

                    <p>
                        При консумация над 5 лв. в някой от нашите басейн барове, получавате безплатен,
                        високоскоростен,
                        безжичен Интернет достъп в рамките на 1 час. Код за достъп можете да получите при покупка от
                        служителите на съответния бар.
                    </p>

                    <p>
                        Достъп до Интернет бихте могли да получите и като закупите ваучер от "Flower Bar", "Shelter
                        Bar"
                        или
                        "Art Cafè".
                    </p>

                    <strong>Цени:</strong>
                    <ul>
                        <li>
                            4 часа - 5 лв.
                        </li>
                        <li> 8 часа - 8 лв.</li>
                    </ul>

                    <p class="color-warning">*Забележка: ваучерът важи само за едно устройство!</p>

                    <h4 class="heading">
                        EN: <br>
                        Welcome to the "Garden of Eden" hot-spot login page!
                    </h4>

                    <p>For purchases of 5 BGN or more you get one hour free high-speed wireless Internet access. You
                        can
                        get your access code from our friendly pool-bar staff at the time of your purchase.</p>

                    <p> You might as well purchase an Internet access voucher at "Flower Bar", "Shelter Bar" or at
                        the
                        "Art Cafè".</p>

                    <strong>Prices:</strong>

                    <ul>
                        <li> 4 hours - 5 BGN</li>
                        <li> 8 hours - 8 BGN</li>
                    </ul>

                    <p class="color-warning">
                        *Note: each access code is valid for a single device only!
                    </p>
                </div>
            </div>
            <button class="popup__close" @click="showPopup = !showPopup">
                <i class="goe goe-times"></i>
            </button>
        </div>
    </div>
</template>
<script>
  import { required, alphaNum, minLength, maxLength } from 'vuelidate/lib/validators'

  export default {
    data () {
      return {
        legend: [
          {
            name: 'Flower Bar',
            icon: 'flower.png'
          }, {
            name: 'Art Bar',
            icon: 'art.png'
          }, {
            name: 'Tent Bar',
            icon: 'tent.png'
          },
        ],
        hideLegend: true,
        chapId: window.chapId,
        chapChallenge: window.chapChallenge,
        code: '',
        password: '',
        showPopup: false
      }
    },
    props: ['linkLogin', 'linkOriginal', 'errors'],
    validations: {
      code: {required, alphaNum, min: minLength(6), max: maxLength(15)}
    },
    template: '#login-template',
    methods: {
      doLogin () {
        document.sendin.username.value = this.code
        document.sendin.password.value = window.hexMD5(this.chapId + this.password + this.chapChallenge)
        document.sendin.submit()
        return false
      },
      submitLogin (e) {
        this.$v.$touch()
        if (!this.$v.$error) {
          if (chapId) {
            return this.doLogin()
          } else {
            e.target.submit()
          }
        }
      }
    }
  }
</script>